.dialog-trigger {
  display: flex;
  height: 100vh;
  margin: auto auto;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#trigger {
  font-size: 30px;
}

#trigger2 {
  font-size: 30px;
}
